@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes full height */
  background-color: black;
}

.background {
  height: 100vh;
  width: 100%;
  background-image: url("./components/images/bg.jpg");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
}

.video-background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  background-color: black;
}

.navbar {
  position: fixed;
  top: 0;
  margin: auto;
  background-color: #fff8;
  width: 100%;
  padding: 1em 4vw;
  z-index: 1;
}

.logo {
  height: 80px;
  width: 80px;
}

.content {
  position: relative;
}

footer {
  background-color: black;
  color: gray;
  padding: 1em 4vw;
}
